.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Home-root {
  position: relative;
  color: #fff;
  background: none;
}

.Home-image {
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  object-fit: cover;
  top: 0%;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0; 
  transition: opacity 1s ease;
  opacity: 0;
}

.Home-active {
    opacity: 1;
}

.Home-content {
  width: 100%;
  height: 100%;
  min-height: 90vh;
  padding: 0em;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  font-weight: 300;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 10px; 
  background-color: #91c2d4;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.map-container {
  height: 500px;
  width: 800px;
}

@media (min-width: 500px) {
  .navbar-expand-custom {
    display: flex !important;
    flex-basis: auto;
  }
}